.divtext{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3rem;
    text-align: center;
    padding: 8rem 0 3rem 0;
    font-weight:bold;
}
.cardconti{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;

}
.par1{

    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5;

  }
  .divpar1 {
    display: flex;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
    width: 40%;
    margin:3% 30% 8% 30%;
  }
.a-img{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
    padding: 4rem 2rem; 
    width: 100%;
    margin: 0 0px;
  
    background-image: url("../photo/about.jpg");
    background-position: center;
    background-size: cover;
    background-color: #f8b1b1;

}
.divtext1{
    display: flex;
    justify-content: left;
    flex-direction: column;
    font-size: 1.3rem;
    text-align: center;
    padding: 8rem 64rem 3rem 0rem;
    font-weight:bold;
}
.headerItem {
    color: #333;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.rem;
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
  }
  
.headerItem:hover {
   /* border-bottom: 0.2rem solid black; */
   font-weight: bold;
 }
 .imgg{
     width: 13rem;
    margin-top: -10.5rem;
    animation: fadeIn 5s;
 }

 @keyframes fadeIn {
   from {
     opacity: 0;
   }

   to {
     opacity: 1;
   }
 }
 